@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styles généraux */
.btn{
    display: inline-block;
    background: #df2020;
    color: #fff;
    padding: 14px 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

section{
    padding: 80px 7% 20px;
}


/* ---- NavBar Style ----------*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
}
.navbar .logo img{
    height: 70px;
}
.navbar a{
    text-decoration: none;
    color: #212245;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
.navbar .logo{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2px;
}

.navbar .nav-link a{
    margin: 0 30px;
}
.navbar .icons .fa{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    color: #212245;
}
.navbar .icons{
    margin-right: 50px;
}
.navbar .icons .panier{
    position: relative;
}
#number{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #df2020;
    font-size: 12px;
    color: #fff;
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    right: -10px;
}

#navBtn{
    display: none;
}


/* Media queries pour la NavBar */

@media(max-width: 992px){
    .navbar{
        padding: 20px 2%;
    }
    .navbar a{
    font-size: 17px;
    }
}

@media(max-width: 768px){
    .nav-link{
        display: none;
    }
    #navBtn{
    display: inline-block;
    }

    .navbar .icons{
        margin: 0;
        padding: 50px 0 0 0;
    }
    .navbar{
        padding: 20px 4%;
    }
    .navbar .logo img{
         height: 50px;
    }
    .navbar .logo a{
        font-size: 16px;
    }
}



/* Style du header */


.header{
    padding: 50px 7%;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    flex-flow: column;
    gap: 40px;
}
.header-left span:nth-child(1){
    font-size: 27px;
    color: #212245;
    letter-spacing: 1px;
    font-weight: 500;
}
.header-left .main-text span:nth-child(1) {
    font-size: 40px;
    color: #df2020;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
}
.header-left .main-text span:nth-child(2) {
    font-size: 30px;
    color: #212245;
    display: block;
}
.header-left p{
    font-size: 20px;
    color: #212245;
}
.cmd-btn{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
}
.header-left .icons-box{
    display: flex;
    gap: 40px;
}
.header-left .icons-box .box{
    display: flex;
    align-items: center;
    gap: 12px;
}
.header-left .icons-box .box span{
    font-size: 13px;
    color: #212245;
    font-weight: 500;
}
.header-left .icons-box .box div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #df2020;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header .header-right img{
    height: 550px;
    margin: -40px -50px 0 0;
}

/* Media queries pour le header */

@media(max-width: 992px){
    .header{
        padding: 40px 4%;
    }
    .header-left{
        gap: 30px;
    }
    .header-left span:nth-child(1) {
        font-size: 20px;
    }
    .header-left .main-text span:nth-child(1){
        font-size: 30px;
    }
    .header-left .main-text span:nth-child(2){
        font-size: 22px;
    }
    .header-left p{
        font-size: 16px;
    }
    .cmd-btn{
        padding: 10px 20px;
        font-size: 16px;
        width: 80%;
    }
    .header-left .icons-box .box div{
        flex: none;
    }

    .header .header-right img{
        height: 400px;
    }
}

@media(max-width: 768px){
    .header{
        flex-flow: column;
        align-items: center;
        text-align: center;
    }
    .header-left .main-text span:nth-child(1){
        font-size: 18px;
        font-weight: bolder;
    }
    .header-left span:nth-child(1){
        font-size: 23px;
        font-weight: bold;
    }
    .header-left .main-text span:nth-child(2){
        font-size: 18px;
    }
    .header-left p{
        color: #333;
        font-weight: 600;
    }
    .cmd-btn{
        width: 70%;
        margin: 0 auto;
        padding: 14px 17px;
        border-radius: 40px;
        font-size: 16px;
    }
    .header-left .icons-box{
        margin: 0 auto 30px;
        gap: 30px;
    }
    .header-left .icons-box .box{
        gap: 5px;
    }
    .header-left .icons-box .box span{
        font-size: 13px;
    }
    .header .header-right img{
        padding-top: 30px;
        margin: 0px -30px 0 0;
    }
}


/* Style for the categories section starts */
.Category{
    padding-top: 0;
}

.Category-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Category-col{
    display: flex;
    align-items: center;
    background: #ff9d9dda;
    flex-basis: 23%;
    padding: 17px;
    border-radius: 10px;
    gap: 25px;
    color: #212245;
    font-size: 18px;
    letter-spacing: 1px;
}
.Category-col img{
    transform: scale(0.8);
}




/* Media queries */

@media(max-width: 992px){
    .Category-col{
        font-size: 15px;
        gap: 15px;
        padding: 14px;
    }
}

@media(max-width: 768px){
    .Category-row{
        flex-flow: wrap;
        gap: 20px;
        justify-content: center;
    }
    .Category-col{
        flex-basis: 250px;
        justify-content: center;
        font-size: 16px;
        padding: 2px;
    }
    
    .Category-col img {
            transform: scale(0.6);
    }
}

/* Style for the categories section ends */


/* Styling of text division starts */


main .txt{
    width: 80%;
    margin: 50px auto 10px;
    text-align: center;
}
main .txt>*{
    margin: 7px 0;
}
main .txt div:nth-child(1){
    color: #df2020;
    font-size: 35px;
}
main .txt div:nth-child(2){
    color: #212245;
    font-size: 29px;
}
main .txt div:nth-child(3){
    color: #212245;
    font-size: 29px;
}
main .txt div:nth-child(4){
    color: #333;
    font-size: 20px;
    font-weight: lighter;
}
main .txt div:nth-child(5){
    color: #333;
    font-size: 20px;
    font-weight: lighter;
}

.features .box-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-flow: wrap;
}
.features .box-container .box{
    flex-basis: 32%;
    padding: 20px;
}
.features .box-container .box img{
    height: 100px;
}
.features .box-container .box h2{
    font-weight: 400;
    margin: 20px 0;
    color: #333;
    font-size: 22px;
}

/* Media queries  */

@media(max-width: 992px){
    main .txt div:nth-child(1){
        font-size: 25px;
    }
    main .txt div:nth-child(2){
        font-size: 20px;
    }
    main .txt div:nth-child(3){
        font-size: 20px;
    }
    main .txt div:nth-child(4){
        font-size: 15px;
    }
    main .txt div:nth-child(5){
        font-size: 15px;
    }


    .features .box-container .box p{
        font-size: 14px;
    }
    .features .box-container .box h2{
        font-size: 17px;
    }
    .features .box-container .box img{
        height: 80px;
    }
}

@media(max-width: 768px){
    section{
        padding: 40px 4%;
    }
    .features .box-container{
        flex-flow: column;
    }
    .features .box-container .box h2{
        margin: 5px 0;
    }
    .features .box-container .box{
        padding: 50px;
        margin: 0;
    }
}



/* Popular foods styling */

.popular-foods h2{
    font-size: 40px;
    color: #212245;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
}
.popular-foods .type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #df2020;
    padding: 20px;
    border-radius: 15px;
    margin: 30px 0;
}
.popular-foods .type .type-box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;

}
.popular-foods .type .type-box img{
    height: 30px;
}
.type .all{
    background: #fff;
    padding: 18px 30px;
    border-radius: 10px;
    margin-right: 30px;
}
#soda{
    margin-top: 4px;
}
.type span{
    text-transform: capitalize;
}


/* Food section styling starts */


.food-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}
.food-row .food-card img{
    height: 150px;
}

.food-row .food-card{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-basis: 31%;
    border: 1px solid #ff8383;
    padding: 30px 15px;
    margin: 20px 0;
}
.food-row .food-card h4{
    text-transform: capitalize;
    color: #212245;
    font-size: 20px;
}
.f-btn{
    font-size: 14px;
    padding: 10px 20px;
}
.card-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 40px;
}
.card-foot h3{
    color: #df2020;
    font-size: 20px;
    font-weight: 900;
}

/* media queries */

@media(max-width: 992px){
    .food-row .food-card img{
        height: 120px;
    }
    .food-row .food-card h4{
        font-size: 18px;
    }
    .card-foot h3{
        font-size: 16px;
    }
    .f-btn{
        font-size: 13px;
        padding: 8px 17px;
    }
    .food-row .food-card{
        padding: 25px 10px;
    }
}

@media(max-width: 768px){
    .food-row{
        flex-flow: wrap;
        justify-content: center;
    }
    .food-row .food-card{
        flex-basis: 45%;
        margin: 20px 10px;
        min-width: 40%;
    }
    .popular-foods .type{
        padding: 15px;
        gap: 10px;
    }
    .type-box img{
        transform: scale(0.8);
    }
    .type-box{
        margin: 0 2px;
    }
    .popular-foods{
        padding: 50px 30px;
    }

    .popular-foods .hoot-pizza .food-card{
        flex-basis: 70%;
        padding: 50px;
    }

    .popular-foods .hoot-pizza .food-card img{
        transform: scale(1.4);
        margin-bottom: 30px;
    }
    .popular-foods .hoot-pizza .food-card h4{
        font-size: 20px;
    }

    .popular-foods .hoot-pizza .food-card .f-btn{
        padding: 11px 16px;
        font-size: 14px;
        border-radius: 20px;
    }

}



/* Styling Drinks division */

.drink .drink-card img{
    height: 250px;
    margin-bottom: 20px;
}
.drink .drink-card{
    flex-basis: 28%;
}

/* Media queries for Drinks division */

@media(max-width: 992px){
    .drink .drink-card img{
        height: 190px;
    }
    .drink .drink-card{
        flex-basis: 28%;
        margin: 0 5px;
        padding: 10px;
    }
    .drink .drink-card .f-btn{
        padding: 7px 13px;
        font-size: 12px;
    }
    .drink .drink-card h3{
        font-size: 14px;
    }
}

@media(max-width: 768px){
    .drink .food-row{
        flex-flow: column;
    }
    .drink .food-row .drink-card{
        width: 60%;
        margin: 20px 0;
        padding: 10px;
    }
    .drink .drink-card img{
        height: 230px;
        margin-bottom: 20px;
    }
    .drink .drink-card{
        margin: 0 5px;
        padding: 10px;
    }
    .drink .drink-card .f-btn{
        padding: 10px 16px;
        font-size: 13px;
    }
    .drink .drink-card h3{
        font-size: 15px;
    }
}